@media (max-width: 770px) {
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #9aa3ba;
        line-height: 26px;
    }
    
    a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: #2f3536;
        line-height: 1.1;
    }
    
    li {
        color: #525456;
    }
    
    h1 {
        font-size: 32px;
        font-weight: 800;
        color: #2f3536;
        margin: 0;
        line-height: 1.1;
        letter-spacing: -2.5px;
    }
    
    h3 {
        margin: 0;
        color: #5f7466;
        font-size: 16px;
        font-weight: 700;
    }
     
    
    h2 {
        color: #9bad76;
        font-style:italic;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: -15px;
    }
    
    p{
        color: #2f3536;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 1.4;
    }
    
    .btn-primaty {
        background-color: #627e66;
        color: white;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 20px;
        letter-spacing: 1.1px;
    }
    
    .page-header {
        background-image: url(../img/forest.png);
        background-repeat: no-repeat;
        background-size: 60%;
        height: 365px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    .container-header {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
    
    .nav {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #6e7ea9;
        list-style-type: none;
        margin-left: 330px;
        margin-top: 0px;
        padding-top: 20px;
        
    }
    
    .nav-item:hover {
        text-decoration: underline black 4px;
        color: black;
    }
    .nav>li {
        padding: 0px 10px;
    }
    
    .logo {
        display: block;
        background-image: url(../img/icon.png);
        background-repeat: no-repeat;
        background-size: 40%;
        padding-top: 20px;
    }
    
    
    .social-icons {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-left: 85px;
    }
    .social-icons>li {
        padding: 5px;
    }
    .social-icons a {
        position: relative;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color .3s ease-in-out;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        border: 2px solid #9aa3ba;
    }
    .social-icons a:hover {
        background-color: #e0e0e0;
    }
    .social-icons a::before {
        content: "";
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        left: .27rem;
        top: .27rem;
        background: transparent no-repeat center center;
        background-size: 80% 80%;
    }
    .social-icons .social-icon-fb::before {
        background-image: url(../img/FB_icon-icons.com_65534.png);
        background-size: 80%;
    }
    .social-icons .social-icon-tw::before {
        background-image: url(../img/1485972269-twitersocialnetworkbrandlogo_78989.png);
        background-size: 80%;
    }
    .social-icons .social-icon-inst::before {
        background-image: url(../img/INSTAGRAM_icon-icons.com_65535.png);
        background-size: 80%;
    }
    .social-icons .social-icon-youtube::before {
        background-image: url(../img/YOUTUBE_icon-icons.com_65537.png);
        background-size: 80%;
    }
    
    .txt {
        text-align: center;
        display: block;
        margin-left: 400px;
        max-width: 340px;
    }
}